# Start by ignoring everything
*
!.gitconfig
!.gitignore

# Unignore specific files
# Shells
!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.zprofile
!.zshrc

# Input related
!.inputrc
!.Xmodmap

# WM related
!.conky/*
!.htoprc
!.screenrc
!.tmux.conf
!.vimrc
!.Xdefaults
!.xinitrc
!.xscreensaver

# MPlayer
!.mplayer/config

# Irssi
!.irssi/*
!.irssi/scripts/*

# ncmpcpp
!.ncmpcpp/*
