# Start by ignoring everything
*
!.gitconfig
!.gitignore

# Unignore specific files
# Shells
!.aliases
!.bash_profile
!.bash_prompt
!.bashrc
!.zprofile
!.zshrc

# xcolors
!.xcolors/*
!.xcolors/

# Input related
!.inputrc
!.Xmodmap

# WM related
!.conky/*
!.fonts.conf
!.htoprc
!.screenrc
!.tmux.conf
!.vimrc
!.Xdefaults
!.xinitrc
!.xscreensaver

# MPlayer
!.mplayer/config

# Irssi
!.irssi/*
!.irssi/scripts/*

# Weechat
!.weechat/
!.weechat/python/
!.weechat/python/*

# ncmpcpp
!.ncmpcpp/config
