# Start by ignoring everything
*
!.gitconfig
!.gitignore

# Unignore specific files
# Shells
!.bash_aliases
!.bash_profile
!.bashrc
!.zshrc

# Input related
!.inputrc
!.Xmodmap

# WM related
!.conky/*
!.htoprc
!.screenrc
!.tmux.conf
!.vimrc
!.Xdefaults
!.xinitrc
!.xscreensaver

# MPlayer
!.mplayer/config

# Irssi
!.irssi/*
!.irssi/scripts/*
