[user]
  name = Dave Reisner
  email = d@falconindy.com

[sendemail]
  smtpserver = /usr/bin/msmtp

[alias]
  all = !git-all
  br = branch
  co = checkout
  logdel = log --diff-filter=D --summary
  st = status
  last = show --stat HEAD
  out = !git --no-pager log --pretty=oneline origin/master..HEAD

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[merge]
  tool = vimdiff
  log = true

[push]
  default = current

[branch]
  autosetuprebase = always
